<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Post-it Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div class="container my-5">
                <p class="my-5">
                    <a href="/postitnote/V1/addnote" class="btn btn-primary">Add Notes</a>
                </p>
                <div class="col-md-10">
                    <h2 th:if="${#lists.isEmpty(notes)}">No notes yet!</h2>
                    <div th:unless="${#lists.isEmpty(notes)}">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Text</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="note : ${notes}">
                                <td th:text="${note.text}"></td>
                                <td><a th:href="@{/postitnote/V1/update/{id}(id=${note.id})}"
                                       class="btn btn-primary">Edit</a></td>
                                <td><a
                                        th:href="@{/postitnote/V1/{id}(id=${note.id})}"
                                        class="btn btn-primary">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>