<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Note</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h3> Update Note</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <form action="#"
                      th:action="@{/postitnote/V1/update}"
                      th:object="${postit}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="text" class="col-form-label">Text</label> <input
                                type="text" th:field="*{text}" class="form-control" id="text"
                                placeholder="Text"> <span
                                th:if="${#fields.hasErrors('text')}" th:errors="*{text}"
                                class="text-danger"></span>
                        </div>
                        <input type="hidden" th:value="${id}" th:attr="'name'=id"/>
                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary"
                                   value="Update note">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>